@import "tailwindcss";
*{
  scroll-behavior: smooth;
  box-sizing: border-box;
}
@theme {
  --color-primary: #14B8A6;
  --color-light: white;
  --color-dark: black;
  --color-light2:#80808080;
}

@layer utilities {
  .container-css {
    @apply max-w-400 mx-auto p-4
  };
  .transition-css {
    @apply transition-all duration-300
  };
  .section-space {
    @apply mt-20
  }
}


.hero{
  background-image: url(../../public/bgHero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero{
  position: relative;
}
.hero::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.608);
}
.hero *{
  z-index: 20;
}