@import "tailwindcss";

@theme {
  --color-primary: #14B8A6;
  --color-light: white;
  --color-dark: black;
  --color-light2:#80808080;
}

@layer utilities {
  .container-css {
    @apply max-w-400 mx-auto p-4
  };
  .transition-css {
    @apply transition-all duration-300
  };
}